.header {
  background-color: #3f51b5;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  width: 500px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.searchBtn {
  border: none;
  background: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
